/* SKELETON */
.skeleton > article:nth-child(-n + 3) {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info > h2 {
  width: 40%;
  height: 0.7rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.info > p {
  width: 80%;
  height: 1.3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .skeleton {
    grid-template-columns: repeat(2, 1fr);
  }

  .skeleton > article:nth-child(-n + 3) {
    border-right: 0;
  }

  .info_skeleton {
    gap: 0.5rem;
  }
}

@media (max-width: 700px) {
  .skeleton > article:nth-child(-n + 3)::after {
    display: none;
  }

  .info {
    align-items: center;
    gap: 0.2rem;
  }

  .info > h2 {
    height: 0.6rem;
  }

  .info > p {
    height: 1.1rem;
  }
}
